/* 顶部导航栏 */

.shortcut {
  position: relative;
  height: 30px;
  line-height: 30px;
  color: #999;
}

/* 地理位置 */
.location {
  float: left;
  padding: 0 5px;
}
/* 鼠标划过背景颜色变白，边框可见 */
.location,
.bg_hover {
  border: 1px solid transparent;
  border-top: none;
  box-sizing: border-box;
  border-bottom: none;
  line-height: 29px;
}
.location:hover,
.bg_hover:hover {
  cursor: pointer;
  background: #fff;
  border-color: #ccc;
}
.location:hover .location_select,
.bg_hover:hover .my_jd,
.bg_hover:hover .enterprise_procurement_sub,
.bg_hover:hover .website_navigation,
.bg_hover:hover .client_server {
  visibility: visible;
}

.location .iconfont {
  font-size: 14px;
  color: #f10215;
  margin-right: 4px;
}

.location_select,
.my_jd,
.enterprise_procurement_sub,
.website_navigation,
.website_navigation,
.client_server {
  position: absolute;
  visibility: hidden;
  border: 1px solid #ccc;
  left: 0px;
  top: 29px;
  background: #fff;
  border-top: none;
  z-index: 1;
}
.location_ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.location_ul li {
  margin: 5px 10px;
  padding: 0 10px;
  /* box-sizing: border-box; */
}
.location_ul li a {
  color: #999;
}
.location_ul li:hover {
  background: #eee;
}
.location_ul li:hover a {
  color: #f10215;
}
.location_active {
  background: #f10215;
}
.location_ul .location_active a {
  color: #fff;
}

/* 顶部右侧导航 */

.shortcut_ul {
  float: right;
}
.shortcut_ul li {
  float: left;
  padding: 0 7px;
  position: relative;
}

/* 竖线 */
.spacer {
  margin: 11px 3px 0;
  padding: 0 !important;
  width: 1px;
  height: 10px;
  background: #ccc;
  overflow: hidden;
}

.shortcut_ul li a {
  color: #999;
}
.shortcut_ul li a:hover,
.free_signup,
.enterprise_procurement {
  color: #f10215 !important;
}

.shortcut_ul .icon {
  font-size: 14px;
}

/* 二级菜单 */

/* 我的京东二级菜单 */
.my_jd,
.enterprise_procurement_sub,
.website_navigation{
  left: -1px;
}
.my_jd_ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.my_jd_ul:last-child {
  grid-template-rows: 1fr 1fr;
}
.my_jd_ul li,
.enterprise_procurement_ul li,
.website_navigation_ul li,
.client_server_ul li {
  white-space: nowrap;
  padding-right: 40px;
  padding-top: 5px;
}
.my_jd_ul:first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
/* 企业购二级菜单 */
.enterprise_procurement_ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.enterprise_procurement_ul li {
  padding-right: 30px;
}
/* 客户服务二级菜单 */
.client_server {
  left: -1px !important;
  padding: 7px;
}
.client_server_wrapper {
  border-bottom: 1px solid #eee;
}
.client_server_wrapper:last-child {
  border: none;
}
.client_server_ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.client_server_ul.merchants {
  grid-template-rows: 1fr 1fr;
}
/* 网站导航二级菜单 */
.website_navigation,
.client_server {
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: -1038px;
}
.website_navigation_wrapper {
  display: inline-block;
  border-left: 1px solid #eee;
}
.website_navigation_wrapper:first-child {
  border: none;
}
.website_navigation_ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.website_navigation_ul.features {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.website_navigation_ul.features {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.website_navigation_ul.industry_channel,
.website_navigation_ul.life_server {
  grid-template-columns: 1fr 1fr 1fr;
}
.website_navigation_ul.more_select {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.website_navigation_ul li {
  display: block;
  padding-right: 35px;
}
.website_navigation_wrapper > p,
.client_server_wrapper > p {
  padding: 0 7px;
  font-weight: 900;
  color: #333;
}